include MANIFEST.in
include requirements*.txt
include LICENSE
include *.md
include setup.py

graft viprs

global-exclude *.c
global-exclude *.cpp
global-exclude *.so
global-exclude *.pyd
global-exclude *.pyc
